@import '../fonts.css';

*{
    box-sizing: border-box;
}

h1{
    font-family: montserrat ;
    font-weight: 600;
}

h2{
    font-family: montserrat;
    font-weight: 100;
}

p{
    line-height: 1.5;
}



/* font: (font-weight) (font-style) (font-size) (font-family) */