@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container{
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 25px 0;
}

.nav .logo img{
    width: 150px;
}

.nav button{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.nav button img{
    width: 17px;
    margin-right: 10px;
    cursor: pointer;
}


.main_img{
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, .25) url(img/banner.png);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 510px;
    padding: 80px 50px;
}

.main_img .info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_img .info h1{
    font-size: 60px;
    color: white;
    letter-spacing: 1px;
}

.main_img .info p{
    color: white;
    font-size: 20px;
    line-height: 1.5;
}

.main_img .buttons{
    width: 100%;
    display: flex;
    align-items: center;
}

.main_img .buttons button{
    border: none;
    padding: 20px 30px;
    border-radius: 50px;
    font-size: 18px;
    margin-right: 50px;
}

.main_img .buttons span i{
    color: white;
    width: 58px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 20px;
    text-align: center;
    margin-right: 10px;
}

.main_img .buttons span span{
    color: white;
    font-size: 20px;
}


.cards{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cards .row_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row_1 .clock_card{
    display: flex;
    flex-direction: column;
    width: 65%;
    background-color: rgb(228, 228, 228);
    height: 316px;
}
.clock_card .img{
    width: 100%;
    text-align: end;
}
.clock_card .img img{
    width: 250px;
}
.clock_card h3{
    font-size: 28px;
    padding: 20px;
}


.row_1 .laptop_card{
    display: flex;
    flex-direction: column;
    width: 33%;
    background-color: rgb(228, 228, 228);
    height: 316px;
}
.laptop_card h3{
    height: 30%;
    font-size: 28px;
    padding: 20px;
}
.laptop_card .img{
    width: 100%;
    text-align: end;
    height: 80%;
}
.laptop_card .img img{
    width: 250px;
}



.row_2{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.card{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(228, 228, 228);
}

.card h3{
    font-size: 28px;
    padding: 20px;
}

.card .img{
    text-align: end;
}
.card .img img{
    width: 250px;
}


.imkoniyatlar{
    margin-top: 50px;
}

.kards{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.kard{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}
.kard .imj{
    padding: 20px;
}
.kard .imj img{
    width: 100%;
}
.kard .info{
    padding: 20px;
}
.kard .info h1{
    margin-bottom: 10px;
}
.kard .info p{
    line-height: 1.5;
    word-spacing: 5px;
    font-size: 18px;
}


.dasturlar{
    margin-top: 50px;
}
.dasturlar h1:first-child{
    margin-bottom: 20px;
}

.dasturlar .parts{
    display: flex;
    justify-content: space-between;
}
.dasturlar .part{
    background-color: white;
    padding: 20px;
    width: 31%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 130px;
}
.dasturlar .ommabop {
    width: 100px;
    padding: 5px;
    border-radius:5px;
    background-color: burlywood;
}

.part:nth-child(2),
.part:last-child{
    background-color: rgb(228, 228, 228);
}