h1{
    color: blue;
}
h2{
    color: red;
}
h3{
    color: yellow;
}
h4{
    color: green;
}
h5{
    color: hotpink;
}
h6{
    color: indigo;
}

table{
    border-collapse: collapse;
    width: 500px;
    height: 200px;
    text-align: center;
}
body{
    background-color: rgb(192, 242, 255);
}